.card-div{
	border-radius: 5px;
}

svg{
	display: block;
	margin: auto;
}

.btstrp-icon,.award-icon{
	margin-top: .5em;
}

p{
	text-align: center;
}

.row{
	margin-top: 10px;
}

.manual-btn-dark,.manual-btn-primary,.manual-btn-success{
	width: 10rem;
	height: 3rem;
	transition: .7s;
	border-radius: 8px;
	display: block;
	margin: auto;
}

.manual-btn-dark{
	color: black;
	background-color: white;
	border: 2.5px solid black;
	margin-bottom: .5em;
}

.manual-btn-dark:hover{
	background-color: black;
	color: white;
}

.manual-btn-primary{
	color: blue;
	background-color: white;
	border: 2.5px solid blue;
}

.manual-btn-primary:hover{
	background-color: blue;
	color: white;
}

.manual-btn-success{
	color: green;
	background-color: white;
	border: 2.5px solid green;
}

.manual-btn-success:hover{
	background-color: green;
	color: white;
}

@media only screen and (min-width: 575px){
	.manual-btn-primary,.manual-btn-success{
		margin-bottom: .5em;
	}
}